* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --primary-color: #0e4bf1;
  --panel-color: rgba(54, 55, 64, 1);

  --text-color: rgba(164, 166, 179, 1);

  --black-light-color: rgba(164, 166, 179, 1);
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}
nav .logo-name {
  display: flex;
  align-items: center;
}
nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}
nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li a {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.image {
  width: 40px;
  border-radius: 30%;
}
.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}
.dashboard {
  position: relative;
  left: 250px;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  /* background-color: var(--panel-color); */
  transition: var(--tran-05);
  z-index: 10;
}
.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}
.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}
.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
.dashboard .dash-content {
  padding-top: 50px;
}
.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
nav.close {
  width: 73px;
}
.hamburger {
  cursor: pointer;
}
nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}
nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.Over {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 53px 0;
}
.over_element {
  font-size: 39px;
  font-weight: 400;
}
.over_btns {
  display: flex;
  gap: 32px;
}
.data-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
th,
td {
  height: 40px;
  /* border: 1px solid #f80808d3; */
}
span {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 50px;
  padding: 10px 0;
}
.green {
  color: rgb(34, 236, 34);
}
.red {
  color: red;
}
.bg_tbody {
  background-color: #f7f9fa;
}
.bg_color {
  background: #3f414a;
}
.link-namecolor {
  color: white;
}
